@font-face {
    font-family: digital;
    src: url(../fonts/digital-7.ttf);
}

body {
    background-color: black;
    background-image: url(../images/wood-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.clock {
    content: "";
    background-color: rgb(40,40,40,1);
    height: 45vh;
    width: 60vh;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 3vh;
    border: 0.5vh solid rgb(40,40,40,0.1);
    box-shadow: 4vh 4vh 5vh 1.5vh rgb(0,0,0,0.6), inset -0.5vh -1vh 1.5vh 1vh rgb(40,40,40,0.5);
}

.clock-support {
    content: "";
    background-color: rgb(25,25,25,1);
    height: 5vh;
    width: 40vh;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 75.357134%;
    box-shadow: inset -1vh 1vh 1vh 0.1vh rgb(0,0,0,0.2);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.screen {
    content: "";
    background-color: rgb(20,20,20,0.8);
    height: 35vh;
    width: 50vh;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 3vh;
    border: 0.3vh solid black;
    box-shadow: inset 1vh 1vh 5vh 1vh rgb(0,0,0,0.1), inset -1vh -1vh 5vh 1vh rgb(0,0,0,0.1);
    font-size: 18vh;
    text-align: center;
    font-family: digital;
    color: rgb(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock-time, .font-back {
    font-size: 18vh;
    font-family: digital;
    color: white;
    letter-spacing: 1vh;
}

#clock-time {
    position: absolute;
    left: 19%;
}

.font-back {
    position: absolute;
    z-index: -1;
    user-select: none;
    color: rgb(255,255,255,0.1);
}